body {
    font-family: 'Roboto', sans-serif;;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

ul {
    list-style-type: none;
}

.hero {
    padding-left:10%;
    padding-right:10%;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

h3.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul.header-links {
    display:flex;
    flex-direction: row;
    gap:16px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.info, .image {
    display: flex;
    flex: 1;
    margin-top: 64px;
    /*
    border: 4px red;
    border-style: solid;
    */
}

.image {
    justify-content: center;
    align-items: center;
    background-color: #7e8997;
    min-height:200px;
    max-height:400px;
    min-width: 360px;
}

.info {
    flex-direction: column;
    gap:4px;
    padding-right: 10%;
}

.info h1 {
    font-size: 36px;
    font-weight:bolder;
}

.info button {
    padding:6px 24px;
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}