body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin:0;
}

ul {
    list-style-type: none;
}

.hero {
    padding-left:10%;
    padding-right:10%;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
}
.hero a {
    color: #E5E7EB;
    font-size: 16px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

h3.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul.header-links {
    display:flex;
    flex-direction: row;
    gap:16px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.hero-info, .hero-image {
    display: flex;
    flex: 1;
    margin-top: 88px;
}

.hero-image {
    justify-content: center;
    align-items: center;
    background-color: #7e8997;
    min-height:200px;
    max-height:400px;
    min-width: 300px;
}

.hero-info {
    flex-direction: column;
    gap:4px;
    padding-right: 10%;
}

.hero-info h1 {
    font-size: 36px;
    font-weight:bolder;
    color: #F9FAF8;
}

.hero-info button {
    padding:6px 24px;
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}



.info-section h4 {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 36px;
    text-align: center;
}

.info-section-cards {
    margin-top: 36px;
    margin-bottom: 88px;
    display: flex;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    gap: 4px;
    width:140px;
}

.info-card .square {
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 16px;
    width: 140px;
    height:140px;
}

.info-card .subtext {
    color: #888888;
}





/* .quote-text {
    font-size: 32px;
    font-style: italic;
    font-weight: 200;
} */